{{define "adminHeader"}}
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8"/>
        <link rel="apple-touch-icon" sizes="76x76" href="/static/admin/img/apple-icon.png">
        <link rel="icon" type="image/png" href="/static/admin/img/favicon.png">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <title>
            Kazen Barcode Pvt Ltd - Admin Panel
        </title>
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
              name='viewport'/>
        <!--     Fonts and icons     -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
        <!-- CSS Files -->
        <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="https://demos.creative-tim.com/paper-dashboard-2-pro/assets/css/paper-dashboard.min.css?v=2.0.1">
{{/*        <link href="/static/admin/css/paper-dashboard.css?v=2.0.0" rel="stylesheet"/>*/}}
        <!-- CSS Just for demo purpose, don't include it in your project -->
        <link href="/static/admin/demo/demo.css" rel="stylesheet"/>
        <link href="/static/admin/css/custom.css" rel="stylesheet"/>
{{/*        <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet"/>*/}}
        <script src="/static/admin/js/core/jquery.min.js"></script>
{{/*        <script src="https://demos.creative-tim.com/paper-dashboard-2-pro/assets/js/paper-dashboard.min.js?v=2.0.1"></script>*/}}
        <script src="https://demos.creative-tim.com/paper-dashboard-2-pro/assets/js/plugins/jquery.dataTables.min.js"></script>
    </head>

    <body class="">
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <!--
              Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
          -->
            <div class="logo">
                <a href="administrator" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <i class="nc-icon nc-circle-10" style="font-size: 2em"></i>
                    </div>
                </a>
                <a href="http://www.creative-tim.com" class="simple-text logo-normal">
                    USERNAME
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>
                        <a href="/administrator">
                            <i class="nc-icon nc-chart-bar-32"></i>
                            <p>Dashboard</p>
                        </a>
                    </li>
                    <li>
                        <a href="/administrator/enquiries">
                            <i class="nc-icon nc-paper"></i>
                            <p>Enquiries</p>
                        </a>
                    </li>
                    <li>
                        <a href="/administrator/products">
                            <i class="nc-icon nc-app"></i>
                            <p>Products</p>
                        </a>
                    </li>
                    <li>
                        <a href="/administrator/users">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Users</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="#pablo">Kazen Barcode Pvt Ltd - Admin Panel</a>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <!-- <div class="panel-header panel-header-sm">


      </div> -->
            <div class="content">
{{end}}