{{define "footer"}}
<!-- footer
    ================================================== -->
<footer class="s-footer">

    <div class="row footer-top">
        <div class="column large-4 medium-5 tab-full">
            <h4 class="h6">Contact Person</h4>
                Manjit Gandhi (Director)
            <p>
                98202 82355 / 93234 09342 <br>
                manjit@kazenbarcode.com
            </p>
            <div class="footer-logo">
                <h4 class="h6">Customer Care No</h4>
                <p>99203 04105</p>
            </div>
        </div>
        <div class="column large-8 tab-full">
            <div class="row">
                <div class="column large-6 medium-full">
                    <h4 class="h6">Corporate Office</h4>
                    <p>
                        401 4th Floor, A-Wing, <br>
                        Shaheen Chambers, Dawood Baug, <br>
                        Off. J P Road, Andheri(West), <br>
                        Mumbai 400 058.INDIA.
                    </p>
                    <a href="https://goo.gl/maps/Nfo3BdYeE4MTPnTX9" target="_blank" class="btn btn--footer">Get Direction</a>
                    <p>
                        022-2677 5105 <br>
                        99203 04105 <br>
                        sales@kazenbarcode.com <br>
                    </p>
                </div>
                <div class="column large-6 medium-full">
                    <h4 class="h6">Factory</h4>
                    <p>
                        26, Ground Floor, <br>
                        Doms Industrial Estate, <br>
                        Near Range Office, Sativali, Vasai (E), <br>
                        Thane - 401210. INDIA
                    </p>
                    <a href="https://goo.gl/maps/Nfo3BdYeE4MTPnTX9" target="_blank" class="btn btn--footer">Get Direction</a>
                    <p>
                        77383 82355 <br>
                        86984 95800
                    </p>
                </div>
            </div>
        </div>
    </div> <!-- end footer-top -->

    <div class="row footer-bottom">
        <div class="column ss-copyright">
            <span>Design & Developed by <a href="https://www.sagarkapasi.com/">Sagar Kapasi</a></span>
        </div>
    </div> <!-- footer-bottom -->

    <div class="ss-go-top">
        <a class="smoothscroll" title="Back to Top" href="#top">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 0l8 9h-6v15h-4v-15h-6z"/></svg>
        </a>
    </div> <!-- ss-go-top -->

</footer> <!-- end s-footer -->


<!-- Java Script
================================================== -->
<script src="static/js/jquery-3.2.1.min.js"></script>
<script src="static/js/plugins.js"></script>
<script src="static/js/main.js"></script>

</body>
{{end}}