{{define "home"}}
    {{template "header"}}

    <section class="section-null">
        <div class="bg-video-wrap">
            <video src="video/background-video.mp4" loop muted autoplay>
            </video>
            <div class="overlay">
            </div>
            <h1>
                <span class="h1-main">For anything and everything in BARCODING</span>
                <span class="h1-sub">Stretching the value of your money with BARCODES</span>
                <span class="h1-sub">More than 18 years of service experience</span>
                <span class="h1-sub">Directors having more than 25 years of barcode/AIDC field experience</span>
            </h1>
        </div>
    </section>

    <!-- It contains an article -->
    <section class="section-about">
        <h2 class="section-heading">Total Solutions For</h2>
        <ul>
            <li>Barcode System</li>
            <li>Electronic Article Surveillance</li>
            <li>RFID</li>
        </ul>
    </section>

    <section class="section-carousel">
        <div class="glider-contain">
            <div class="glider">
                <div>your content 1</div>
                <div>your content 2</div>
                <div>your content 3</div>
                <div>your content 4</div>
                <div>your content 5</div>
                <div>your content 6</div>
                <div>your content 7</div>
                <div>your content 8</div>
                <div>your content 9</div>
                <div>your content 10</div>
                <div>your content 11</div>
                <div>your content 12</div>
                <div>your content 13</div>
            </div>

            <button aria-label="Previous" class="glider-prev">«</button>
            <button aria-label="Next" class="glider-next">»</button>
            <div role="tablist" class="dots"></div>
        </div>
    </section>

    {{template "footer"}}
{{end}}
