{{define "home"}}
{{template "header" .}}
<!-- hero
    ================================================== -->
<section class="s-hero" data-parallax="scroll" data-image-src="images/hero-bg-3000.jpg" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

    <div class="row hero-content">

        <div class="column large-full hero-content__text">
            <h1>
                We have an alliance with world-renowned Automatic Data Capture & Electronic Security solution providers.
            </h1>

            <div class="hero-content__buttons">
                <a href="events.html" class="btn btn--stroke">Products</a>
                <a href="about.html" class="btn btn--stroke">About Us</a>
            </div>
        </div> <!-- end hero-content__text -->

    </div> <!-- end hero-content -->

</section> <!-- end s-hero -->


<!-- about
================================================== -->
<section id="about" class="s-about">

    <div class="row row-y-center about-content">

        <div class="column large-full medium-full">
            <h3 class="subhead">About Kazen Barcode Pvt. Ltd.</h3>
            <p class="lead">
                Kazen barcode Pvt. Ltd. has an alliance with world-renowned Automatic Data Capture
                & Electronic Security solution providers.<br><br>
                Kazen barcode Pvt. Ltd. offer about 10 years service portfolio that include support of
                all type of Barcode Equipments
                like SYMBOL, PSC, PERCON, WELCH ALLYN, DATALOGIC, DATAMAX, TEC, PAXAR, ZEBRA,
                METO, CITOH, ARGOX, etc.
            </p>
            <a href="about.html" class="btn btn--primary btn--about">Read More</a>
        </div>

    </div> <!-- end about-content -->

</section> <!-- end s-about -->


<!-- connect
================================================== -->
<section class="s-connect">

    <div class="row connect-content">
        <div class="column large-half tab-full">
            <h3 class="display-1">Volunteer With Us.</h3>
            <p>
                Delectus distinctio fuga commodi quod temporibus consequatur.
                Voluptatem dolor vel impedit. Totam ut vel nihil ab. Nostrum ipsa
                necessitatibus. Iste voluptatibus qui velit et voluptatem laudantium
                et explicabo. Dignissimos ut voluptatum laboriosam nisi fugiat.
                Nulla dolores voluptate sit unde in doloribus est. Eveniet qui et
                quia pariatur consequatur officia facere aut.
            </p>

            <a href="volunteer.html" class="btn btn--primary h-full-width">I'm Interested</a>
        </div>
        <div class="column large-half tab-full">
            <h3 class="display-1">Join a Connect Group.</h3>
            <p>
                Officia earum at quia recusandae. Tempora beatae est
                aliquam fugiat sed et. Exercitationem vitae molestiae
                officia eos aut id ad. Et exercitationem quae perspiciatis
                mollitia. Laborum quasi inventore eaque quia non.
                Ipsa dignissimos ipsum nisi qui eos et iste magnam. Aut dolorum
                mollitia illum. Iste iure similique nobis fuga est amet.
            </p>

            <a href="connect-group.html" class="btn btn--primary h-full-width">Learn More</a>
        </div>
    </div> <!-- end connect-content  -->

</section> <!-- end s-connect -->


<!-- events
================================================== -->
<section class="s-events">

    <div class="row events-header">
        <div class="column">
            <h2 class="subhead">Upcoming Events.</h2>
        </div>
    </div> <!-- end event-header -->

    <div class="row block-large-1-2 block-900-full events-list">

        <div class="column events-list__item">
            <h3 class="display-1 events-list__item-title">
                <a href="#0" title="">2019 Kids Church Camp.</a>
            </h3>
            <p>
                Et consequatur nihil odio odit voluptatem qui. Dolores doloribus
                cupiditate totam esse dolores quod. Magni aut incidunt fugiat
                labore est ut non ipsam nihil. Voluptate rerum dolores unde
                voluptas. Et similique praesentium dolor. Et quod
                eius sint at quae est dolores. Beatae quo facere hic.
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">Saturday, September 28, 2019</li>
                <li class="events-list__meta-time">8:00AM - 5:30PM</li>
                <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
            </ul>
        </div> <!-- end events-list__item -->
        <div class="column events-list__item">
            <h3 class="display-1 events-list__item-title">
                <a href="#0" title="">Prayer Meeting.</a>
            </h3>
            <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid.
                Deleniti est adipisci ut quo ducimus eum ratione voluptas.
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque
                perspiciatis est similique rerum nam qui iusto minus. Sapiente
                porro dolores consequatur optio animi aut facere.
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">Saturday, July 27, 2019</li>
                <li class="events-list__meta-time">6:00PM - 8:30PM</li>
                <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
            </ul>
        </div> <!-- end events-list__item -->
        <div class="column events-list__item">
            <h3 class="display-1 events-list__item-title">
                <a href="#0" title="">Youth Convergence.</a>
            </h3>
            <p>
                Laborum distinctio minima doloribus reiciendis aut aliquid.
                Deleniti est adipisci ut quo ducimus eum ratione voluptas.
                Voluptatem tenetur rem ratione velit ut. Repudiandae atque
                perspiciatis est similique rerum nam qui iusto minus. Sapiente
                porro dolores consequatur optio animi aut facere.
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">Friday, July 26, 2019</li>
                <li class="events-list__meta-time">5:00PM - 6:30PM</li>
                <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
            </ul>
        </div> <!-- end events-list__item -->
        <div class="column events-list__item">
            <h3 class="display-1 events-list__item-title">
                <a href="#0" title="">Leadership Conference.</a>
            </h3>
            <p>
                Optio temporibus suscipit magnam. Consequatur doloribus sed.
                Explicabo molestiae est minima. Distinctio quis optio architecto
                molestiae officia molestiae qui veniam minima. Nemo placeat ex
                dolor ratione qui autem eius vel. In dolorem aut enim aspernatur
                molestias nostrum.
            </p>
            <ul class="events-list__meta">
                <li class="events-list__meta-date">Sunday, July 28, 2019</li>
                <li class="events-list__meta-time">2:00PM - 5:30PM</li>
                <li class="events-list__meta-location">1600 Amphitheatre Parkway, Mt. View</li>
            </ul>
        </div> <!-- end events-list__item -->

    </div> <!-- end events-list -->

</section> <!-- end s-events -->

{{template "footer"}}
{{end}}
